
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.info {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  color: #eee;
  font-size: 1.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .7;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: #eee;
  text-shadow: 1px 1px 6px #444;
  
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: background .3s ease;
}

.col button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 10px;
  color: #eee;
  text-shadow: 1px 1px 6px #444;
}
.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: background .3s ease;
}